<div class="modal fade" id="addUpdate-modal" tabindex="-1" role="form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                   Add Todo
                </div>
                <button class="btn-close float-end"></button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <label class="form-label">Todo</label>
                    <textarea class="form-control" placeholder="Please Add Some Todo Here.."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-primary"><i class="fas fa-plus"></i>Add</button>
            </div>
        </div>
    </div>
</div>
