<div class="toast hide " id="live-toast" style="z-index:11">

    <div class="-toast-header pt-1 px-1">


        <p class="text-muted">
            Notification <i class="fa fa-bell"></i>
            <button class="btn-close float-end" data-bs-dismiss="toast"></button>
        </p>

    </div>
    <div class="toast-body">
        <p>New thing added!</p>
    </div>

</div>