<div class="row mt-5">
    <div class="col-sm-12 container w-50 ">
         <div class="row">
             <div class="col-md-12">
                 <p class="display-6 text-center">TodoList App</p>
             </div>
         </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <button class="btn btn-outline-primary">Add Todo</button>
                <button class="btn btn-outline-danger">Remove All</button>
                <i class="bi bi-plus-lg"></i>
            </div>
        </div>
        
    </div>
</div>


