@model IEnumerable<Todo>
@using Newtonsoft.Json
<div class="row mt-5">
    <div class="col-sm-12 container w-50 overflow-auto">
        <nav class="sticky-md-top">
            <div class="row">
                <div class="col-md-12">
                    <p class="display-6 text-center">Todo-List App</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <button class="btn btn-outline-primary" onclick="showModal('/TodoApp/GetModalView','#modal-placeholder','Add-todo',null)"><i class="fa fa-plus fa-xs"></i> Add Todo</button>
                    <button onclick="deleteAllITem('@Url.Action("DeleteAllTodo")')" class="btn btn-outline-danger"><i class="fa fa-trash fa-xs"></i> Remove All</button>
                </div>
            </div>
        </nav>
        <div class="row mt-5" id="table-holder">
            <partial name="_TablePartial" model="@Model" />
            
        </div>

    </div>
</div>



<div class="toast-container position-fixed top-0 end-0"></div>

<div id="modal-placeholder"></div>


@section scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
}

<partial name="_ToastPartial" />
